<!DOCTYPE html>
<html>
<head>
  $partial("templates/head.html")$
</head>
<body>

<nav>
  <img src="/images/square-headshot.jpg" class="headshot">
  <ul>
    <li>
      <a href="/articles.html">
	articles
      </a>
    </li>
    <li>
  <a href="/projects.html">
    projects
  </a>
    </li>
    <li>
  <a href="/about.html">
    about
  </a>
    </li>
    <li>
  <a href="/resume.html">
    resume
  </a>
    </li>
  </ul>
</nav>

<main>
    $body$
</main>


<div id="brand-menu" class="brand-right">
</div>

<div id="toggle" onclick="menuToggle()" class="bigHide">
  &#9776;
</div>

<script type="application/javascript">
  function menuToggle() {
      var element = document.getElementById("brand-menu");
      element.classList.toggle("popup");
      document.querySelector("body").classList.toggle("noScroll");
  };
</script>


</body>
</html>
