<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="/css/mystyles.css" />
    <link rel="stylesheet" type="text/css" href="/css/espresso.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600,700|Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


</head>

<body class="Site">
    <nav class="navbar is-light" role="navigation" aria-label="main navigation" id="navbar">

        <div class="navbar-brand">

            <a class="navbar-item mobile-centered" href="/">
                <svg class="top-logo" height="30" width="40" version="1.1" viewBox="0 0 55.562 71.438" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
 <metadata>
  <rdf:RDF>
   <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <g transform="translate(-71.438 -8.6042)">
  <path d="m127 64.167-27.781 15.875-27.781-15.875 27.781-55.562 9.7751 19.55-9.7751 5.5858v6.6146l12.347-7.0554 2.5726 5.1446-14.92 8.5255v6.6146l17.492-9.9954 2.5726 5.1446-20.064 11.465v6.6146l22.636-12.935z" style="stroke-width:0"/>
 </g>
</svg>
                <span class="logo is-size-4 has-text-black">fitzsimmons.io<span/>
    </a>

        <div class="navbar-burger" id="burger" onclick="navToggle()">
            <span></span>
            <span></span>
            <span></span>

        </div>
        </div>
        <div class="navbar-menu" id="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/blog.html">Blog</a>
                <a class="navbar-item" href="/about.html">About</a>
                <a class="navbar-item" href="/contact.html">Contact</a>
                <a class="navbar-item" href="/archive.html">Archive</a>
                <a class="navbar-item" href="/archive.html">Projects</a>
            </div>

        </div>
        </div>
    </nav>

    <div class="Site-content">
        $body$
    </div>

    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <div class="content">
                        <div class="columns">
                            <div class="column">
                                <div class="columns">
                                    <div class="column is-narrow mobile-centered-avatar">
                                        <img src="/images/headshot.jpg" class="footer-headshot mobile-centered-avatar"></img>
                                    </div>
                                    <div class="column">
                                        <p>
                                            Personal website of <strong>Matthew Fitzsimmons</strong>: cloud infrastructure and devops engineer at Tempo, functional programming enthusiast, and Linux nerd.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <p>
                                    Site proudly generated by
                                    <a href="http://jaspervdj.be/hakyll">Hakyll</a>. Website theme built upon <a href="https://bulma.io/">Bulma</a> css framework.
                                </p>
                                <p>
                                    © 2015-2018 Matthew Fitzsimmons
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function navToggle() {
	    // toggle css or nav parent element
            var navbar = document.getElementById("navbar");
            navbar.classList.toggle("active-navbar");

	    // prevent scrolling while the menu is triggered
	    var fixed = document.getElementById("navbar");
	    fixed.addEventListener("touchmove", function(e) {
              e.preventDefault();
            }, false);
        }
    </script>

</body>

</html>
