<!DOCTYPE html>
<html>
<head>
  $partial("templates/head.html")$
</head>
<body>

<div id="toggle" onclick="menuToggle()" class="topbar bigHide">
  <span class="logo">fitzsimmons.io</span><span class="burger">&#9776;</span>
</div>

<nav>
  <img src="/images/square-headshot.jpg" class="headshot">
  <ul>
    <li>
      <a href="/articles.html">
	articles
      </a>
    </li>
    <li>
  <a href="/projects.html">
    projects
  </a>
    </li>
    <li>
  <a href="/about.html">
    about
  </a>
    </li>
    <li>
  <a href="/resume.html">
    resume
  </a>
    </li>
  </ul>
</nav>

<main>
    $body$
</main>


<script type="application/javascript">
  function menuToggle() {
      var element = document.querySelectorAll("nav")[0];
      //var element = document.getElementById("brand-menu");
      element.classList.toggle("full-nav");
      document.querySelector("body").classList.toggle("noScroll");
  };
</script>


</body>
</html>
